
@media screen and (min-width: 320px) {

    .finger-up {
        display: block;
        position: absolute;
        top: -232px;
        left: 0;
        width: 50px;
        transform: rotate(180deg);
        z-index: 2;
    }

    .two {
        /* left: 65px; */
        top: -267px;
        margin-left: 101px;
    }

    .three {
        /* left: 129px; */
        top: -302px;
        margin-left: 200px;
    }

    .finger-bottom {
        display: block;
        position: absolute;
        right: 0;
        bottom: -232px;
        width: 50px;
        position: fixed;
    }

    .five {
        /* right: 65px; */
        bottom: -267px;
        margin-right: 101px;
    }

    .six {
        /* right: 129px; */
        margin-right: 200px;
        bottom: -302px;
    }

    /*projects.html*/ 

    .project-title {
        margin-bottom: 50px;
        text-align: center;
    }

    hr {
        margin-top: 0;
        margin-bottom: 25px;
    }

    #projects {
        width: 65vw;
        /* height: 45%; */
    }

    .project-row {
        display: flex;
        width: auto;
        justify-content: space-between;
    }

    .project-row-right {
        font-size: 8px;
        margin-top: 8px;
    }

}

/*Tablet*/

@media screen and (min-width: 601px) {

    /*vertical fingers*/

    .finger-up {
        top: -210px; /* + 45px for two*/
    }

    .finger-up, .finger-bottom, .horizontal-finger {
        width: 75px;
    }

    .finger-bottom {
        bottom: -177px;
        z-index: 2;
    }

    .two {
        /* left: 175px; */
        top: -330px; /* + 55px for three*/
        margin-left: 135px;
    }

    .three {
        /* left: 345px; */
        top: -415px;
        margin-left: 265px;
    }

    .five {
        /* right: 180px; */
        bottom: -315px;
        margin-right: 135px;
    }

    .six {
        /* right: 355px; */
        bottom: -400px;
        margin-right: 268px;
    }

    /*horizontal fingers*/
    .horizontal-finger {
        display: block;
        position: absolute;
        /* width: 55px; */
        top: 25%;
        transform: rotate(90deg);
        position: fixed;
    }

    .fing-comp-1 { 
        left: -130px;
    }

    .fing-comp-2 {
        /* top: 440px; */
        left: -215px;
        margin-top: 135px;
    }

    .fing-comp-3 {
        top: 15px;
        /* margin-top: -280px; */
        right: -130px;
        transform: rotate(-90deg);
    }

    .fing-comp-4 {
        top: 50px;
        right: -210px;
        margin-top: 100px;
        transform: rotate(-90deg);
    }

    /*projects.html*/
    #projects {
        width: 60vw;
        height: 35%;
    }

    .project-row-left {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .project-row-right {
        font-size: 14px;
        margin-top: 17px;
    }

    hr {
        margin-bottom: 35px
    }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
    .finger-up {
        transform: rotate(90deg);
        top: -255px;
        left: 215px;
        display: block;
        position: absolute;
        /* width: 90px; */
        z-index: 2;
    }

    .two {
        /* top: -330px; */
        /* margin-top: 105px;
        left: 90px; */
        margin-top: 135px;
        left: -55px;
    }

    .three {
        left: -312px;
        /* top: -415px; */
        margin-top: 275px;
    }

    .finger-bottom {
        display: block;
        position: absolute;
        /* width: 50px; */
        position: fixed;
        bottom: 25px;
        transform: rotate(-90deg);
        right: -50px;

    }

    .five {
        /* right: 113px;
        bottom: -140px; */
        right: -45px;
        bottom: -115px;
    }

    .six {
        /* right: 214px;
        bottom: -245px; */
        right: -50px;
        bottom: -255px;
    }

    /*projects.html*/

    #projects {
        width: 40vw;
        height: 70vh;
    }

    .project-row-right {
        font-size: 14px;
        margin-top: 20px;
    }

}